.category-table{
    background-color: #ffffff;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px grey;
  }
  
  .category-table-head th{
    border-bottom: 1px solid grey;
    height: 7vh;
  }
  
  .category-table-body th{
    border-bottom: 1px solid grey;
    height: 7vh;
  }
  
  .category-edit-btn{
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #3076d2;
    padding: 5px;
    color: white;
    width: 50px;
    font-size: 15px;
  
  }
  
  .category-edit-delete{
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #df4c64;
    padding: 5px;
    color: white;
    width: 80px;
    font-size: 15px;
  }

/* form  */

.productForm{
    background-color: #ffffff;
    height: 80vh;
    padding-left: 150px;
    padding-top: 50px;
  }
  
  .productForm-select{
    width: 450px;
    height: 6vh;
    background-color: #ffffff;
    color: #5d6063;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
  }
  .productName,.SKU {
    margin-top: 15px;
  }
  .productName input,.SKU input{
    width: 450px;
    height: 6vh;
    background-color: #ffffff;
    color: #5d6063;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
  }
  
  .product-price{
    width: 450px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .product-price input{
    width: 200px;
    height: 6vh;
    background-color: #ffffff;
    color: #5d6063;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
  }
  
  .product-size{
    margin-top: 10px;
  }
  .product-image-main{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .product-image-sharing{
    display: flex;
    gap: 15px;
  }
  
  .productForm-button{
    margin-top: 35px;
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  
  .productForm-button button{
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #3076d2;
    padding: 10px;
    color: white;
    width: 90px;
    font-size: 16px;
  }

  .categoryForm_span {
    color: red;
  }